body {
    background: pink;
} 


.fondoAzul{
    background: lightblue !important;
    
}

.fondoVerde{
    background: greenyellow !important;
    
}

 

/*hoja de estilo, y se vincula al index html*/