body {
    background: pink;
} 


.fondoAzul{
    background: lightblue !important;
    
}

.fondoVerde{
    background: greenyellow !important;
    
}

.activado{
    font-weight: bold;
    background: yellow;
}

 

/*hoja de estilo, y se vincula al index html*/